.wineDiv {
  width: 400px;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.wineDiv > img {
  height: 300px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
