.wineDiv {
  width: 50%;
  min-height: 160px;
  min-width: 20%;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-right: 1%;
  margin-top: 1.5%;

}


.container-favorite-wines {
  background-color: #333;

  margin-left: 3%;
  margin-right: 3%;
  height: 400px;
}
.wine-preview{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;


}

.wineDiv > img {
  max-height: 300px;
}
.title_favorite{
  margin-left: 3%;
  margin-top: 5%;
}
