.wineDiv {
  width: 300px;
  height: 80%;
  min-height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  font-size: 15px;
}


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  margin-left: 3%;
  margin-right:3%;
  padding: 4%;
  height: 400px;

}

.wineDiv > img {
  max-height: 150px;
}
.title_favorite{
  margin-left: 3%;
  margin-top: 5%;
}
