<h1 class="title_favorite"> Dine favoritter</h1>
<div class="container-favorite-wines">
  <div *ngIf="hasWines; else noFavorites">
    <div class="shadow-box-left"></div>
    <div class="shadow-box-right"></div>
    <div class="wine-preview">
      <mat-card class="wineDiv" (click)="openDialog(wine)" *ngFor="let wine of wines">
        <div class="wineDivInside">
          <h3>{{ wine.Varenavn }}</h3>
          <img src="{{ wine.Vareurl }}" />
        </div>
        <div class="winePrice">
          <p>{{ wine.Pris }},-</p>
        </div>
        <div class="wineMoreInfo">
          <p>Trykk her for mer info</p>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<ng-template #noFavorites>
  <p class="message-favorite">Du har ikke lagt til noen favoritter...</p>
</ng-template>
