.wineDiv {
  width: 300px;
  height: 100%;
  min-height: 160px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  font-size: 15px;
  flex-direction: column;
}

.wineDivInside {
  width: 300px;
  height: 100%;
  min-height: 160px;
  padding: 10px;
  display: flex;

  align-items: center;
  justify-content: space-around;
  margin: 10px;
  font-size: 15px;
  font-family: 'Playfair Display', serif;
}

.wineDivInside > h3 {
  width: 60%;
  text-align: center;
}

.wineDiv:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 31px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 31px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 31px -10px rgba(0,0,0,0.75);
}

.imgContainer {
   width: 100px;
   height: 100px;
   position: relative;
   overflow: hidden;
   border-radius: 50%;
}

.wineDivInside > img {
  display: inline;
  box-sizing: border-box;
  max-height: 180px;
}

.winePrice {
  width: 100%;
  text-align: center;
}

.wineMoreInfo {
  margin: 5px;
  font-size: 10px;
  color: grey;

}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.buttonContainer > button{
  margin: 10px;
}

.checkbox-margin {
  margin: 10px;
  flex: 1 0 25%;
}

mat-card-title {
  width: 100%;
}

.filterContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.countryFilter {
  display: flex;
  flex-wrap: wrap;
}

.sortContainer {
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
}

.sortContainer > div{

  justify-content: center;
}

.searchContainer {
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 10px auto;
}

.searchField {
  width: 100%;
}

.searchInput > button{
  width: 100%;
}

.searchBold{
  font-weight: bold;
  font-family: Roboto, sans-serif;
}
