.wineDiv {
  width: 400px;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.wineDiv > img {
  height: 300px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.buttonContainer > button{
  margin: 10px;
}

.checkbox-margin {
  margin: 10px;
}

.filterContainer {
  display: flex;
  justify-content: center;
}

.sortContainer {
  flex-direction: column;
  margin: 0 auto;
  width: 20%;
}
