<mat-card class="buttonContainer searchContainer">
  <mat-card-content class="searchInput">
    <mat-form-field class="searchField">
      <input #search (keyup.enter)="onEnter(search.value)" (keyup)="updateSearch(search.value)" matInput placeholder="Søk etter vin">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onEnter(search.value)">Søk</button>
  </mat-card-content>
  <mat-card-content *ngIf="searchVisible">
    <p>
      <span class="searchBold">Viser søk etter: </span>
      {{newFilter.searchValue}}
    </p>
  </mat-card-content>
</mat-card>

<mat-expansion-panel class="searchContainer">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Sorter vinen
    </mat-panel-title>
    <mat-panel-description>
      Pris, alfabetisk og alcohol
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-card class="buttonContainer sortContainer">
    <div>
      <mat-form-field>
        <mat-select placeholder="Sorter etter pris" [(ngModel)]="name">
          <mat-option value='{"Pris":1}' (onSelectionChange)="sortSelection($event)">
            Lav -> Høy
          </mat-option>
          <mat-option  value='{"Pris":-1}' (onSelectionChange)="sortSelection($event)">
            Høy -> Lav
          </mat-option>
          <mat-option  value='{"Pris":0}'(onSelectionChange)="sortSelection($event)">
            Ingen Sortering
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="Sorter alfabetisk" [(ngModel)]="name">
          <mat-option value='{"Varenavn":1}' (onSelectionChange)="sortSelection($event)">
            A -> Å
          </mat-option>
          <mat-option  value='{"Varenavn":-1}' (onSelectionChange)="sortSelection($event)">
            Å -> A
          </mat-option>
          <mat-option  value='{"Varenavn":0}' (onSelectionChange)="sortSelection($event)">
            Ingen Sortering
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select placeholder="Sorter etter alcohol" [(ngModel)]="name">
          <mat-option value='{"Alkohol":1}' (onSelectionChange)="sortSelection($event)">
            Lav -> Høy
          </mat-option>
          <mat-option  value='{"Alkohol":-1}' (onSelectionChange)="sortSelection($event)">
            Høy -> Lav
          </mat-option>
          <mat-option  value='{"Alkohol":0}' (onSelectionChange)="sortSelection($event)">
            Ingen Sortering
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card>
</mat-expansion-panel>
<mat-expansion-panel class="searchContainer">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Filtrer vinen
    </mat-panel-title>
    <mat-panel-description>
      Type og Land
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="filterContainer">
    <mat-card class="buttonContainer">
      <mat-card-content>
        <mat-card-title>Vintype</mat-card-title>
        <mat-checkbox class="checkbox-margin" ng-model="rod" value='{"Varetype":"Rødvin"}' (change)="checkbox($event)">Rødvin</mat-checkbox>
        <mat-checkbox class="checkbox-margin" ng-model="hvit" value='{"Varetype":"Hvitvin"}' (change)="checkbox($event)">Hvitvin</mat-checkbox>
      </mat-card-content>
    </mat-card>
    <mat-card class="buttonContainer">
      <mat-card-content class="countryFilter">
        <mat-card-title>Land</mat-card-title>
        <mat-checkbox
          class="checkbox-margin"
          ng-model="hvit"
          value='{"Land":"{{country}}"}'
          *ngFor="let country of countries"
          (change)="checkboxCountry($event)">
            {{country}}
        </mat-checkbox>
      </mat-card-content>
    </mat-card>
  </div>
</mat-expansion-panel>
<div class="container">
  <mat-card *ngIf="numberOfWines == 0">
    <p>
      Søket ditt gir ingen resultater..
    </p>
  </mat-card>
  <mat-card class="wineDiv" (click)="openDialog(wine)" *ngFor="let wine of wines">
    <div class="wineDivInside">
      <h3>{{ wine.Varenavn }}</h3>
        <img src="{{ wine.Vareurl }}" />
    </div>
    <hr>
    <div class="winePrice">
      <h3>{{ wine.Pris }},-</h3>
    </div>
    <div class="wineMoreInfo">
      <p>Trykk her for mer info.</p>
    </div>
  </mat-card>
</div>

<div class="buttonContainer">
 <button *ngIf="numberOfWines >= newFilter.limit" mat-raised-button color="accent" (click)="increaseLimit()">Last inn flere..</button>
</div>
