.wineDiv {
  width: 300px;
  height: 100%;
  min-height: 160px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  font-size: 15px;
}

.wineDiv:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 31px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 31px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 31px -10px rgba(0,0,0,0.75);
}

.wineDiv > img {
  max-height: 150px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.buttonContainer > button{
  margin: 10px;
}

.checkbox-margin {
  margin: 10px;
}

.filterContainer {
  display: flex;
  justify-content: center;
}

.sortContainer {
  justify-content: space-around;
  margin: 0 auto;

}

.searchContainer {
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 10px auto;
}

.searchField {
  width: 100%;
}

.searchInput > button{
  width: 100%;
}

.searchBold{
  font-weight: bold;
  font-family: Roboto, sans-serif;
}
