<mat-card class="buttonContainer sortContainer">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Søk etter vin">
  </mat-form-field>
</mat-card>

<mat-card class="buttonContainer sortContainer">
  <mat-form-field>
    <mat-select placeholder="Sorter etter pris" [(ngModel)]="name">
      <mat-option value="ASC" (onSelectionChange)="checkSelection($event)">
        Lav -> Høy
      </mat-option>
      <mat-option  value="DESC" (onSelectionChange)="checkSelection($event)">
        Høy -> Lav
      </mat-option>
      <mat-option  value="{{null}}" (onSelectionChange)="checkSelection($event)">
        Ingen Sortering
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Sorter alfabetisk" [(ngModel)]="name">
      <mat-option value="LASC" (onSelectionChange)="checkSelection($event)">
        A -> Å
      </mat-option>
      <mat-option  value="LDESC" (onSelectionChange)="checkSelection($event)">
        Å -> A
      </mat-option>
      <mat-option  value=" " (onSelectionChange)="checkSelection($event)">
        Ingen Sortering
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>

<div class="filterContainer">
  <mat-card class="buttonContainer">
    <mat-card-content>
      <mat-card-title>Filtrer på vintype</mat-card-title>
      <mat-checkbox class="checkbox-margin" ng-model="rod" value='{"Varetype":"Rødvin"}' (change)="checkbox($event)">Rødvin</mat-checkbox>
      <mat-checkbox class="checkbox-margin" ng-model="hvit" value='{"Varetype":"Hvitvin"}' (change)="checkbox($event)">Hvitvin</mat-checkbox>
    </mat-card-content>
  </mat-card>

  <mat-card class="buttonContainer">
    <mat-card-content>
      <mat-card-title>Filtrer på Land</mat-card-title>
      <mat-checkbox class="checkbox-margin" ng-model="hvit" value='{"Land":"Frankrike"}' (change)="checkboxCountry($event)">Frankrike</mat-checkbox>
      <mat-checkbox class="checkbox-margin" ng-model="hvit" value='{"Land":"Tyskland"}' (change)="checkboxCountry($event)">Tyskland</mat-checkbox>
      <mat-checkbox class="checkbox-margin" ng-model="hvit" value='{"Land":"Brasil"}' (change)="checkboxCountry($event)">Brasil</mat-checkbox>
      <mat-checkbox class="checkbox-margin" ng-model="hvit" value='{"Land":"USA"}' (change)="checkboxCountry($event)">USA</mat-checkbox>
      <mat-checkbox class="checkbox-margin" ng-model="hvit" value='{"Land":"Italia"}' (change)="checkboxCountry($event)">Italia</mat-checkbox>
      <mat-checkbox class="checkbox-margin" ng-model="hvit" value='{"Land":"Australia"}' (change)="checkboxCountry($event)">Australia</mat-checkbox>
    </mat-card-content>
  </mat-card>
</div>

<div class="container">
  <mat-card class="wineDiv"  *ngFor="let wine of wines">
    <h3>{{ wine.Varenavn }}</h3>
    <p>{{ wine.Pris }}</p>
    <img src="{{ wine.Vareurl }}" />

  </mat-card>
</div>

<div class="buttonContainer">
 <button mat-raised-button color="accent" (click)="increaseLimit()">Load more..</button>
</div>
