<div class="container">

  <div class="row">

    <div class="col-md-6">

      <h1 class="form-signin-heading">Sign in</h1>

        <div class="form-group">
          <label for="username">username</label>
          <input type="text" class="form-control" id="username" placeholder="Enter username" [(ngModel)]="this.user.name">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="this.user.password">
        </div>
        <button (click)="checkUser()" class="btn btn-default">Sign in!</button>
      <div *ngIf="state =='true'">Works </div>

    </div>
  </div>

</div>
