<div class="container">

        <div class="form-group">
          <label for="username">Brukernavn</label>
          <input type="text" class="form-control" id="username" placeholder="Enter username" [(ngModel)]="this.newUser.name">
        </div>
        <div class="form-group">
          <label for="password">Passord</label>
          <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="this.newUser.password">
        </div>
        <div *ngIf="wrongCheck">Feil brukernavn eller passord, prøv igjen.</div>
        <button (click)="getUser()" class="btn btn-default">Sign in!</button>

</div>
