
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: white;
  height: 100vh;
  width: 100vw;
}

.img {
  position: absolute;
  z-index: -1;
}

.img img{
  height: 50vh;
}

p {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 10vh;
}

.front {
  position: relative;
  z-index: -2;
  font-size: 30vh;
}
