<div class="wineDiv">
  <h2 mat-dialog-title #wineTitle>{{data.Varenavn}}</h2>
  <hr>
  <mat-dialog-content class="wineInfoContainer">
    <div class="wineInfo">
      <p><strong>Pris:</strong> {{ data.Pris }}</p>
      <p><strong>Land:</strong> {{ data.Land }}</p>
      <p><strong>Distrikt:</strong> {{ data.Distrikt }}</p>
      <p><strong>Varetype:</strong> {{ data.Varetype }}</p>
      <p><strong>Argang:</strong> {{ data.Argang }}</p>
    </div>
    <div class="wineImg">
      <img src="{{ data.Vareurl }}" />
    </div>
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions class="wineDialogActions">
    <mat-icon class="starIcon" (click)="changeIcon(wineTitle.innerHTML)" matTooltip="Lagre i favoritter" [matTooltipPosition]="position">{{ icon }}</mat-icon>
    <mat-icon class="closeIcon" (click)="onCloseConfirm()" matTooltip="Lukk denne vinen" [matTooltipPosition]="position">close</mat-icon>
    <!--
    <button mat-raised-button color="accent" (click)="onCloseConfirm()">Dialogbutton</button>
    <button mat-raised-button color="accent" (click)="onCloseCancel()">Dialogbutton</button>
  -->
  </mat-dialog-actions>
</div>
