.starIcon, .starIcon:hover {
  font-size: 50px;
  color: #3F51B5;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.closeIcon, .closeIcon:hover {
  font-size: 50px;
  color: black;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.wineInfoContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
}

.wineInfo {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.0em;
  min-width: 50%;
  overflow: auto;
}

.wineInfo > * {
  margin: 5px;

}

.wineInfo > p {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.wineInfo > p > mat-icon {
  margin-right: 10px;
}

.wineDiv > h5  {
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.wineImg {
  display: flex;
  justify-content: center;
  min-width: 50%;
}

.wineDialogActions {
  display: flex;
  justify-content: space-around;
}

.spinners {
  height: 100px;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}


.alcoholSpinnerText {
  margin-top: -45px;
  margin-left: 25px;
}

.volumSpinnerText {
  margin-top: -45px;
  margin-left: 30px;
}

mat-progress-spinner circle{
  height: 30px !important;
  width: 30px !important;
}

.singleWineTitle {
  margin: 0 !important;
  text-align: center;
}

.wineDiv {
  max-height: 80vh !important;
  min-width: 35vw !important;
}
