<div class="mapViewItems">
  <div class="mapArea" (click)="countryChange()">
    <span id="mapTitle">Trykk på ett kontinent for å se viner fra det området</span>
    <div id="regions_div" style="width: 900px; height: 500px;"></div>
  </div>

  <div class="listArea">
    <span id="regionTitle">Verden</span>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Navn </mat-header-cell>
        <mat-cell *matCellDef="let wine"> {{wine.Varenavn}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef> Land </mat-header-cell>
        <mat-cell *matCellDef="let wine"> {{wine.Land}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Pris </mat-header-cell>
        <mat-cell *matCellDef="let wine"> {{wine.Pris}} </mat-cell>
      </ng-container>



      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
