<div class="mapViewItems">
  <div class="mapArea">
    <span id="mapTitle">Click on a continent to see wines from that area</span>
    <div id="regions_div" style="width: 900px; height: 500px;"></div>
  </div>

  <div id="winelist_div">
    <span id="regionTitle">Worldwide</span>
    <table>
      <tr>
        <th> Name </th>
        <th> Country </th>
        <th> Price </th>
      </tr>
      <tr *ngFor="let wine of wines">
        <td>{{ wine.Varenavn }}</td>
        <td>{{ wine.Land }}</td>
        <td>{{ wine.Pris }}</td>
      </tr>
    </table>
  </div>


</div>
