.mapViewItems {
  display: flex;
  flex-direction: row;
}

.mapArea {
  width: 45%;
  min-width: 200px;
}

.listArea {
  width: 45%;
  min-width: 200px;
}
#regionTitle {
  text-align: center;
}

#mapTitle {
  text-align: center;
}
