.mapViewItems {
  display: flex;
  flex-direction: row;
}

.mapCard {
  min-width: 200px;
  height: 45%;
  width: 45%;
  margin: 10px;
}

.listCard {
  min-width: 200px;
  height: 45%;
  width: 45%;
  margin: 10px;
}

.mat-card {
  padding: 10px;
  overflow: auto;
  max-height: 80vh;
}

.mat-table {
}

#regionTitle {
  text-align: center;
}

#mapTitle {
  text-align: center;
}
