<div class="mapViewItems">
    <mat-card class="mapCard" (click)="countryChange()">
      <mat-card-title id="mapTitle">Velg kontinent</mat-card-title>
      <div id="regions_div"></div>
      <button mat-raised-button color="accent" id="backButton">Tilbake</button>
    </mat-card>
    <mat-card class="listCard">
      <mat-card-title id="regionTitle">Verden</mat-card-title>
      <mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Navn </mat-header-cell>
            <mat-cell *matCellDef="let wine" (click)="onWineClick(wine)"> {{wine.Varenavn}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="country">
            <mat-header-cell *matHeaderCellDef> Land </mat-header-cell>
            <mat-cell *matCellDef="let wine" (click)="onWineClick(wine)"> {{wine.Land}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef> Pris </mat-header-cell>
            <mat-cell *matCellDef="let wine" (click)="onWineClick(wine)"> {{wine.Pris}} </mat-cell>
          </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" matTooltip="Trykk for mer info" matTooltip="Trykk for mer info" [matTooltipPosition]="position"></mat-row>
      </mat-table>
      <button mat-raised-button color="accent" id="loadMoreButton" (click)="increaseLimit()">Last flere..</button>
    </mat-card>
</div>
