<mat-toolbar>
    <span class="logo" routerLink="/">Et Glass med Vin</span>
    <span class="example-spacer"></span>
    <div *ngIf="loggedInOptions; else loginButton"> <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>account_box</mat-icon> Profil</button></div>
    <ng-template #loginButton><button color="basic" mat-button (click)="openDialog()">Logg inn <mat-icon>lock_open</mat-icon></button></ng-template>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item routerLink="/map"> Map </button>
  <button mat-menu-item (click)="openDialog()"> Login </button>
  <button mat-menu-item routerLink="/profile"> Profil </button>
  <button mat-menu-item (click)="logOut()"> Logg ut </button>
  <button mat-menu-item routerLink="/map"> Map </button>
  <button mat-menu-item (click)="openDialog()"> Login </button>
  <button mat-menu-item routerLink="/profile"> Profil </button>
  <button mat-menu-item (click)="logOut()"> Logg ut </button>
</mat-menu>
