<mat-toolbar>
    <span class="logo" routerLink="/">Et Glass</span>
    <span class="spacer"></span>
    <button class="mapbutton" mat-button routerLink="/map"><mat-icon>map</mat-icon>Vinkart</button>
    <div *ngIf="loggedInOptions; else loginButton"> <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>account_box</mat-icon> Profil</button></div>
    <ng-template #loginButton><button class="loginbutton" color="basic" mat-button (click)="openDialog()">Logg inn <mat-icon>lock_open</mat-icon></button></ng-template>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item routerLink="/profile"> Profil </button>
  <button mat-menu-item (click)="logOut()"> Logg ut </button>
</mat-menu>
